@page "/Frase/delete/{FraseId:int}"
@using ProyectoPADSimpson.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Delete Frase</h2>
<br />
<div class="form-group">
    <h4>Do you want to delete this Frase?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>@Frase.Id</td>
            </tr>
            <tr>
                <td>Texto</td>
                <td>@Frase.Texto</td>
            </tr>
            <tr>
                <td>Personaje</td>
                <td>@Frase.Personaje</td>
            </tr>
            <tr>
                <td>Capitulo</td>
                <td>@Frase.Capitulo</td>
            </tr>
            <tr>
                <td>IdUsuario</td>
                <td>@Frase.IdUsuario</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveFrase(Frase.Id))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>

@code {
    [Parameter]
    public int FraseId { get; set; }
    FraseDTO Frase = new FraseDTO();
    protected override async Task OnInitializedAsync()
    {
        Frase = await Http.GetFromJsonAsync<FraseDTO>("/api/Frase/" + Convert.ToInt32(FraseId));
    }
    protected async Task RemoveFrase(int FraseID)
    {
        await Http.DeleteAsync("api/Frase/" + FraseID);
        NavigationManager.NavigateTo("/fetchFrasedetails");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/fetchFrasedetails");
    }
}