@page "/"
@page "/simpson"
@inject HttpClient Http
@inject NavigationManager _navigationManager

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<PageTitle>Buscador de Frases</PageTitle>

<style>
    body {
        background: rgb(9,141,227);
        background: linear-gradient(180deg, rgba(9,141,227,1) 0%, rgba(91,160,187,1) 100%);
    }
</style>

<div class="main">
    <h3 class="Title">Frases de los Simpsons</h3>
    <div class="form-container">
        <div>
            <h4 class="Title">Buscar por Personaje</h4>
            <div class="input-container">
                <p>Nombre del personaje:</p>
            </div>
            <div class="input-container">
                <input type="text" @bind-value="nombrePersonaje" placeholder="Bart Simpson" />
            </div>
            @if (string.IsNullOrEmpty(nombrePersonaje) && nombrePersonajeInvalido)
            {
                <div class="error-container">
                    <i class="bi bi-exclamation-circle-fill Error"></i>
                    <p class="Error">Ingrese el nombre del personaje.</p>
                </div>
            }
            <div class="input-container">
                <p>Cantidad a mostrar:</p>
            </div>
            <div class="input-container">
                <input type="text" @bind-value="cantidadFrase" />
            </div>
            @if (cantidadInvalida)
            {
                <div class="error-container">
                    <i class="bi bi-exclamation-circle-fill Error"></i>
                    <p class="Error">Ingrese el nombre del personaje.</p>
                </div>
            }
            <br />
            <button class="btn btn-primary" @onclick="(async()=> await GenerarFrase())">Generar Frase/s</button>
        </div>
        <div>
            <h4 class="Title">Frase Aleatoria</h4>
            <button class="btn btn-primary" @onclick="(async()=> await GenerarFraseAleatoria())">Generar Frase Aleatoria</button>
        </div>
    </div>

    <div class="results-container">
        <div hidden="@ocultarLoader">
            <h2 class="Title">Cargando...</h2>
            <img id="loader" src="@gifLoader" />
        </div>

        @if (frasesAgrupadas == null || !frasesAgrupadas.Any() && (busquedaBandera))
        {
            <p>No se encontraron personajes.</p>
        }

        <div hidden="@(!ocultarLoader)">
            @if (listaFrases != null && listaEpisodios != null)
            {
                @foreach (var frasesPersonaje in frasesAgrupadas)
                {
                    <div>
                        <h4 class="Title">@frasesPersonaje.Key</h4>
                        <img src="@frasesPersonaje.First().image" width="75" style="margin: 10px;" />

                        <div class="row">
                            @foreach (var frase in frasesPersonaje)
                            {
                                int index = listaFrases.IndexOf(frase);
                                Episodio episodio = listaEpisodios.ElementAtOrDefault(index);

                                if (episodio != null)
                                {
                                    <div class="col-md-4">
                                        <div class="card" style="margin: 50px;">
                                            <img src="@("https://frinkiac.com/img/" + episodio.episode + "/" + episodio.timestamp)" class="card-img-top" alt="Episodio" style="object-fit: cover;">
                                            <div class="card-body">
                                                <p class="card-text">@frase.quote</p>
                                                <button type="button" class="btn btn-warning"><i class="bi bi-star"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    public class Personaje
    {
        public String? quote { get; set; }
        public String? character { get; set; }
        public String? image { get; set; }
        public String? characterDirection { get; set; }
    }

    public class Episodio
    {
        public int? id { get; set; }
        public String? episode { get; set; }
        public int? timestamp { get; set; }
    }

    List<Personaje>? listaFrases { get; set; }
    List<Episodio>? listaEpisodios { get; set; }
    Personaje? frase { get; set; }

    String? nombrePersonaje { get; set; }
    int cantidadFrase = 1;
    bool nombrePersonajeInvalido = false;
    bool cantidadInvalida = false;
    bool busquedaBandera = false;

    String? gifLoader { get; set; }
    private bool ocultarLoader { get; set; } = true;

    IEnumerable<IGrouping<string?, Personaje>> frasesAgrupadas = Enumerable.Empty<IGrouping<string?, Personaje>>();

    protected override async Task OnInitializedAsync()
    {
        await ObtenerGif();
    }

    async Task ObtenerGif()
    {
        var response = await Http.GetStringAsync("https://api.giphy.com/v1/gifs/random?api_key=FAp8LREU0hvkH0DdmwSu2T2qcqUB12hl&tag=los+simpsons&rating=g");
        if (response != null)
        {
            var data = (JObject)JsonConvert.DeserializeObject(response);
            gifLoader = data.SelectToken(
               "data.images.original.url").Value<string>();
        }
    }

    protected async Task GenerarFrase()
    {
        // Reviso que las entradas tengan valor y no esten vacias
        if (nombrePersonaje == null)
        {
            nombrePersonajeInvalido = true;
            return;
        }
        nombrePersonajeInvalido = false;

        if (cantidadFrase == 0)
        {
            cantidadInvalida = true;
            return;
        }
        else if (cantidadFrase == 1)
        {
            listaFrases = await Http.GetFromJsonAsync<List<Personaje>>("https://thesimpsonsquoteapi.glitch.me/quotes?character=" + nombrePersonaje);
        }
        else if (cantidadFrase > 1)
        {
            listaFrases = await Http.GetFromJsonAsync<List<Personaje>>("https://thesimpsonsquoteapi.glitch.me/quotes?count=" + cantidadFrase + "&character=" + nombrePersonaje);
        }
        cantidadInvalida = false;
        
        ocultarLoader = false;

        // Limpio el input
        nombrePersonaje = null;

        busquedaBandera = true;

        // Obtengo los episodios donde aparece cada frase
        listaEpisodios = null;

        foreach (var result in listaFrases)
        {
            var primerEpisodio = await ObtenerEpisodio("https://corsproxy.io/?https://frinkiac.com/api/search?q=" + result.quote);

            // Agregar el primer episodio a la lista
            if (primerEpisodio != null)
            {
                if (listaEpisodios == null)
                {
                    listaEpisodios = new List<Episodio>();
                }

                listaEpisodios.Add(primerEpisodio);
            }
        }
        
        frasesAgrupadas = listaFrases.GroupBy(q => q.character);
        
        ocultarLoader = true;

        _navigationManager.NavigateTo("simpson");
    }

    protected async Task GenerarFraseAleatoria()
    {
        ocultarLoader = false;

        listaFrases = await Http.GetFromJsonAsync<List<Personaje>>("https://thesimpsonsquoteapi.glitch.me/quotes");
        frase = listaFrases?.FirstOrDefault();
        listaEpisodios = null;

        if (frase != null)
        {
            var primerEpisodio = await ObtenerEpisodio("https://corsproxy.io/?https://frinkiac.com/api/search?q=" + frase.quote);

            // Agregar el primer episodio
            if (primerEpisodio != null)
            {
                if (listaEpisodios == null)
                {
                    listaEpisodios = new List<Episodio>();
                }

                listaEpisodios.Add(primerEpisodio);
            }
        }
        frasesAgrupadas = listaFrases.GroupBy(q => q.character);

        ocultarLoader = true;

        _navigationManager.NavigateTo("simpson");
    }

    public async Task<List<Episodio>> ObtenerEpisodios(string query)
    {
        var resultado = await Http.GetFromJsonAsync<List<Episodio>>(query);

        // Verificar si resultado es nulo y devolver una lista vacía en su lugar
        return resultado ?? new List<Episodio>();
    }
    public async Task<Episodio?> ObtenerEpisodio(string query)
    {
        var episodios = await Http.GetFromJsonAsync<List<Episodio>>(query);

        var resultado = episodios?.FirstOrDefault();

        // Verificar si resultado es nulo y devolver una lista vacía en su lugar
        return resultado;
    }
}
