@page "/"
@page "/simpson"
@inject HttpClient Http
@inject NavigationManager _navigationManager
@inject ServicioApiEpisodios ServicioApiEpisodios

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<style>
    @@font-face {
        font-family: 'Simpsonfont';
        font-style: normal;
        font-weight: 400;
        src: local('Simpsonfont'), url('https://fonts.cdnfonts.com/s/92634/Simpsonfont DEMO.woff') format('woff');
    }

    .Title {
        font-family: 'Simpsonfont';
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: #FFD700;
    }

    /*.Form, .Results {
        font-family: 'Simpsonfont';
    } */

    .Error {
        color: red;
    }
</style>

<PageTitle>Frases Simpson</PageTitle>

<div class="Form">
    <h3 class="Title">Frases de los Simpson</h3>
    <div>
        <h4 class="Title">Buscar por Personaje</h4>
        <p>Nombre del personaje:</p>
        <input type="text" @bind-value="nombrePersonaje" placeholder="Bart Simpson"/>
        @if (string.IsNullOrEmpty(nombrePersonaje) && nombrePersonajeInvalido)
        {
            <p class="Error">Ingrese el nombre del personaje.</p>
        }
        <p>Cantidad a mostrar:</p>
        <input type="text" @bind-value="cantidadFrase" />
        @if (cantidadInvalida)
        {
            <p class="Error">Busque una frase o más.</p>
        }
        <br />
        <br />
        <button class="btn btn-primary" @onclick="(async()=> await GenerarFrase())">Generar Frase/s</button>
        <br />
        <br />
    </div>
    <div>
        <h4 class="Title">Frase Aleatoria</h4>
        <button class="btn btn-primary" @onclick="(async()=> await GenerarFraseAleatoria())">Generar Frase Aleatoria</button>
    </div>
</div>

<div class="Results">
    <div hidden="@ocultarLoader">
        <h2 class="Title">Cargando...</h2>
        <img id="loader" src=@gifLoader />
    </div>

    @if (frasesAgrupadas == null || !frasesAgrupadas.Any() && (busquedaBandera))
    {
        <p>No se encontraron personajes.</p>
    }

    <div hidden="@(!ocultarLoader)">
    @if (listaFrases != null && listaEpisodios != null)
    {
        foreach (var frasesPersonaje in frasesAgrupadas)
        {
            <br />
            <h4>Personaje: @frasesPersonaje.Key</h4>
            <img src="@frasesPersonaje.First().image" width="150" />

            foreach(var frase in frasesPersonaje)
            {
                int index = listaFrases.IndexOf(frase);
                Episodio episodio = listaEpisodios.ElementAtOrDefault(index);

                if (episodio != null)
                {
                    <div>
                        <br />
                        <div>Frase: @frase.quote</div>
                        <p>Episodio: @episodio.episode</p>
                        <img src=@("https://frinkiac.com/img/" + episodio.episode + "/" + episodio.timestamp) width="200" />
                    </div>
                }
            }
        }
    }
    </div>
</div>

@code {
    public class Personaje
    {
        public String? quote { get; set; }
        public String? character { get; set; }
        public String? image { get; set; }
        public String? characterDirection { get; set; }
    }

    public class Episodio
    {
        public int? id { get; set; }
        public String? episode { get; set; }
        public int? timestamp { get; set; }
    }

    List<Personaje>? listaFrases { get; set; }
    List<Episodio>? listaEpisodios { get; set; }
    Personaje? frase { get; set; }

    String? nombrePersonaje { get; set; }
    int cantidadFrase = 1;
    bool nombrePersonajeInvalido = false;
    bool cantidadInvalida = false;
    bool busquedaBandera = false;

    String? gifLoader { get; set; }
    private bool ocultarLoader { get; set; } = true;

    IEnumerable<IGrouping<string?, Personaje>> frasesAgrupadas = Enumerable.Empty<IGrouping<string?, Personaje>>();

    protected override async Task OnInitializedAsync()
    {
        await ObtenerGif();
    }

    async Task ObtenerGif()
    {
        var response = await Http.GetStringAsync("https://api.giphy.com/v1/gifs/random?api_key=FAp8LREU0hvkH0DdmwSu2T2qcqUB12hl&tag=los+simpsons&rating=g");
        if (response != null)
        {
            var data = (JObject)JsonConvert.DeserializeObject(response);
            gifLoader = data.SelectToken(
               "data.images.original.url").Value<string>();
        }
    }

    protected async Task GenerarFrase()
    {
        // Reviso que las entradas tengan valor y no esten vacias
        if (nombrePersonaje == null)
        {
            nombrePersonajeInvalido = true;
            return;
        }
        nombrePersonajeInvalido = false;

        ocultarLoader = false;

        if (cantidadFrase == 0)
        {
            cantidadInvalida = true;
            return;
        }
        else if (cantidadFrase == 1)
        {
            listaFrases = await Http.GetFromJsonAsync<List<Personaje>>("https://thesimpsonsquoteapi.glitch.me/quotes?character=" + nombrePersonaje);
        }
        else if (cantidadFrase > 1)
        {
            listaFrases = await Http.GetFromJsonAsync<List<Personaje>>("https://thesimpsonsquoteapi.glitch.me/quotes?count=" + cantidadFrase + "&character=" + nombrePersonaje);
        }

        cantidadInvalida = false;

        // Limpio el input
        nombrePersonaje = null;

        busquedaBandera = true;

        // Obtengo los episodios donde aparece cada frase
        listaEpisodios = null;

        foreach (var result in listaFrases)
        {
            var primerEpisodio = await ServicioApiEpisodios.ObtenerEpisodio("https://corsproxy.io/?https://frinkiac.com/api/search?q=" + result.quote);

            // Agregar el primer episodio a la lista
            if (primerEpisodio != null)
            {
                if (listaEpisodios == null)
                {
                    listaEpisodios = new List<Episodio>();
                }

                listaEpisodios.Add(primerEpisodio);
            }
        }
        
        frasesAgrupadas = listaFrases.GroupBy(q => q.character);
        
        ocultarLoader = true;

        _navigationManager.NavigateTo("simpson");
    }

    protected async Task GenerarFraseAleatoria()
    {
        ocultarLoader = false;

        listaFrases = await Http.GetFromJsonAsync<List<Personaje>>("https://thesimpsonsquoteapi.glitch.me/quotes");
        frase = listaFrases?.FirstOrDefault();
        listaEpisodios = null;

        if (frase != null)
        {
            var primerEpisodio = await ServicioApiEpisodios.ObtenerEpisodio("https://corsproxy.io/?https://frinkiac.com/api/search?q=" + frase.quote);

            // Agregar el primer episodio
            if (primerEpisodio != null)
            {
                if (listaEpisodios == null)
                {
                    listaEpisodios = new List<Episodio>();
                }

                listaEpisodios.Add(primerEpisodio);
            }
        }
        frasesAgrupadas = listaFrases.GroupBy(q => q.character);

        ocultarLoader = true;

        _navigationManager.NavigateTo("simpson");
    }
}
